.seventh-block{
    background-image: url("../images/background.png");
    background-size: cover;
    .seventh-block_container{
        @extend %container;
    }
    .seventh-block_columns{
        display: flex;
        flex-direction: row;
        padding-top: 98px;
        gap: 90px;
    }
    .seventh-block_title{
        @include text(29px, left,white);
        letter-spacing: 0.2px;
        margin-bottom: 18px;
    }
    .seventh-block_text_1{
        @include text(16px, left,white);
        letter-spacing: 0px;
        max-width: 286px;
        margin-bottom: 29px;
    }
    .seventh-block_text_2{
        @include text(14px, left,white);
        letter-spacing: 0px;
        max-width: 259px;
    }
    input{
        max-width: 314px;
        max-height: 54px;
        border-radius: 10px;
        padding: 18px 186px 14px 16px;
    }
    .seventh-block_email{
        margin-bottom: 25px;
        @include text(16px, left,#49464F);
    }
    .seventh-block_second_column,.seventh-block_third_column,.seventh-block_forth_column,.seventh-block_fifth_column{
        p{
            @include text(16px, left,rgba(255, 255,255, 0.5));
            letter-spacing: 0px;
            margin-bottom: 12px;
        }
        li{
            @include text(16px, left,white);
            letter-spacing: 0px;
            margin-bottom: 20px;
        }

    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .seventh-block_frames{
        padding-top: 96px;
        padding-left: 930px;
    } 
}
@media (max-width:992px) {
    .seventh-block{
        display: none;
    }
}